/* Navbar.css */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em;
  }
  
  
 
  
  .links-section ul {
    list-style: none;
    display: flex;
  }
  
  .links-section li {
    margin-right: 15px;
  }
  
  .links-section a {
    text-decoration: none;
    color: white;
  }
  