/* app.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: justify;
}

footer {
  background-color: #333333;
  color: white;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div {
  margin: 2em;
}

h2 {
  color: #333333;
}

p {
  color: #666;
}
