/* app.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #423e3e;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  

}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0em;
}

nav li {
  margin-right: 80px; /* Adjust spacing between items */
}

footer {
  background-color: #d1d0d0;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  
}

div {
  margin: 2em;
}

h2 {
  color: #050505;
}

p {
  color: #161414;
}
